@charset "UTF-8";
/* CSS Document */
@import "normalize";
$width: 160;
$height: 600;
$bannerWidth: $width + px;
$bannerHeight: $height + px;
@font-face {
    font-family: 'Ciutadella-Medium';
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Ciutadella-Regular';
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'CiutadellaRounded-Rg';
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.ttf') format('truetype');
}

body {
    font-family: 'Ciutadella-regular', sans-serif;
    text-rendering: optimizeLegibility;
    position: relative;
    overflow: hidden;

}
#copyFrames {
    margin-top: 150px;
    padding: 0 10px;
}

.copy {
    position: relative;
    font-family: 'Ciutadella-regular', sans-serif;
    color: #fff;
    font-size: 26px;
    line-height: 28px;
    z-index: 300;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    font-weight: lighter;
}

p,
span {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
}

button {
    -webkit-appearance: none;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    color: white;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    padding: 7px 20px 5px;
    font-size: 15px;
    line-height: 18px;
    outline: none;
}

button.hover,
button:hover {
    background: white;
    color: #ee0000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


.container {
    display: none;
    width: ($width - 2)+px;
    height: ($height - 2)+px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid #e2e2e2;
    background-color: #f5f5f5;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    width: 158px;
    height: 598px;
    top: 0;
    left: 0;
    border: 1px solid #e2e2e2;
    position: relative;
    background-color: #f5f5f5;
}

.loader img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 275px;
    left: 55px;
}

.banner {
    position: absolute;
    width: ($width - 2)+px;
    height: ($height - 2)+px;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: #F5F5F5;
    clip: rect(0px, 300px, $bannerHeight, 0px);
    overflow: hidden;
}

#messaging-end-frame {
    position: absolute;
    z-index: 200;
    width: 140px;
    top: 100px;
    left: 10px;
    color: white;
}
// LOGOS

#logos-container {
    position: absolute;
    z-index: 200;
    left: 16px;
    bottom: 50px;
}

.qantas-logo {
    position: relative;
    width: 130px;
    height: 34px;
    left: -2px;
    top: 0;
}

.partner-logo {
    position: absolute;
    width: 110px;
    height:52px;
    left: 11px;
    bottom: 43px;
}

#cta-button {
    position: relative;
    display: block;
    left: 0;
    margin: 0 auto;

}
//PRICING FRAME
.pricing .from {
    display: block;
    top: 0;
    width: 100%;
    font-family: 'Ciutadella-Regular';
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    margin-bottom: 6px;
}
.pricing .destination {
    display: block;
    top: 22px;
    width: 100%;
    font-size: 24px;
    line-height: 26px;
    font-family: 'Ciutadella-Medium';
    text-align: center;
    margin-bottom: 2px;
}
.pricing .price-left-copy {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'Ciutadella-Regular';
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: .4px;
    text-align: center;
    vertical-align: middle;
}
.pricing .price-right-copy {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'Ciutadella-Regular';
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: .4px;
    text-align: center;
    vertical-align: middle;
    top: 0;

}
.pricing .price-lockup {
    display: block;
    top: 64px;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}
.pricing .price {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Ciutadella-Medium';
    font-size: 36px;
    text-align: center;
    z-index: 7000;
    overflow: hidden;
    width:100%;
}

.terms {
    display: block;
    position: absolute;
    z-index: 8001;
    width: 150px;
    text-align: center;
    left: 5px;
    bottom: 8px;
    font-size: 8px;
    line-height: 10px;
    color: #787878;
    font-family: Arial, sans-serif;
    cursor: pointer;
}
// Intro Shapes

.shapes {
    position: absolute;
    top: 150px;
    left: -70px;
    width: 300px;
    height: 250px;
    z-index: 6500;
    pointer-events: none;
}

#mask-shape {
    position: absolute;
    width: 6866px;
    height: 4833px;
    top: -1000px;
    left: -1000px;
    z-index: 6500;
}

#blue-shape {
    position: absolute;
    width: 113px;
    height: 111px;
    top: 0;
    left: 0;
    z-index: 6900;
}

#blue-shape-small {
    position: absolute;
    width: 64px;
    height: 68px;
    top: 0;
    left: 0;
    z-index: 6900;
}
// Base Shapes

#partnership-white-shape-small {
    position: absolute;
    z-index: 112;
    left: -350px;
    top: 330px;
    width: 838px;
    height: 462px;
}

#partnership-white-shape {
    position: absolute;
    z-index: 112;
    left: -200px;
    top: 211px;
    width: 530px;
    height: 400px;
}

#base-red {
    position: absolute;
    z-index: 105;
    left: -70px;
    top: 0;
    width: 300px;
    height: 600px;
}

#red-gradient {
    position: absolute;
    z-index: 110;
    left: -70px;
    top: 0;
    width: 838px;
    height: 462px;
}

#solid-red-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    background-color: #D20000;
    z-index: 0;
}
// Base Images

.bg-image {
    position: absolute;
    width: 300px;
    height: 600px;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 100;
}

.bg-image-01 {
    position: absolute;
    z-index: 130;
}

.bg-image-02 {
    position: absolute;
    z-index: 131;
}

.clicktag {
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 120px;
    height: 570px;
    top: 10px;
    left: 10px;
    background-color: white;
    z-index: 9999;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: none;
    .terms-txt {
        font-family: Arial, sans-serif;
        font-size: 9px;
    }
}

.overlay h6 {
    font-size: 16px;
    color: #E0001A;
}

.overlay-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
    height: 38px;
    cursor: pointer;
}

.overlay-close img {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 13px;
    top: 13px;
}

.overlay-close:hover img {
    width: 10px;
    height: 10px;
    opacity: 0.7;
}

.overlay-body {
    font-size: 10px;
    padding-top: 8px;
    font-family: 'Ciutadella-Regular';
    line-height: 14px;
    max-height: 520px;
    overflow-y: scroll;
}

.asterix {
    font-family: 'Ciutadella-Regular';
    display: inline-block;
    font-size: 18px;
    position: absolute;
}
